<div class="tarjeta-desglose" *ngIf="cotizacion">
  <!-- LA CABECERA AHORA TIENE EL TÍTULO Y LA ETIQUETA -->
  <div class="cabecera-desglose">
    <h3 class="titulo-exito">✅ Cotización Exitosa</h3>
    
    <!-- NUEVA ETIQUETA VIP -->
    <span class="etiqueta-empresa" *ngIf="cotizacion.empresa">
      🏢 {{ cotizacion.empresa }}
    </span>
  </div>

  <div class="tramo-item" *ngFor="let tramo of cotizacion.tramos">
    <span class="ruta">{{ tramo.origen }} ➔ {{ tramo.destino }}</span>
    <span class="precio">S/ {{ tramo.tarifaBase | number:'1.2-2' }}</span>
  </div>

  <hr class="linea-divisoria">

  <div class="resumen-item">
    <span>Tarifa Base Total:</span>
    <span class="precio">S/ {{ cotizacion.tarifaBaseTotal | number:'1.2-2' }}</span>
  </div>

  <div class="resumen-item" *ngIf="cotizacion.recargoMensajeria > 0">
    <span>Mensajería:</span>
    <span class="precio">S/ {{ cotizacion.recargoMensajeria | number:'1.2-2' }}</span>
  </div>

  <div class="resumen-item" *ngIf="cotizacion.recargoEspera > 0">
    <span>Espera:</span>
    <span class="precio">S/ {{ cotizacion.recargoEspera | number:'1.2-2' }}</span>
  </div>

  <div class="total-cobrar">
    <span>Total a Cobrar:</span>
    <span class="precio-total">S/ {{ cotizacion.total | number:'1.2-2' }}</span>
  </div>
</div>