<div class="tarjeta-desglose" *ngIf="cotizacion">
  <h3>✅ Cotización Exitosa</h3>
  
  <div class="tramos-lista">
    <div class="tramo-item" *ngFor="let tramo of cotizacion.tramos">
      <span>{{ tramo.origen }} ➔ {{ tramo.destino }}</span>
      <span>S/ {{ tramo.tarifaBase | number:'1.2-2' }}</span>
    </div>
  </div>
  
  <hr>
  
  <div class="totales">
    <p>Tarifa Base Total: <span>S/ {{ cotizacion.tarifaBaseTotal | number:'1.2-2' }}</span></p>
    <p *ngIf="cotizacion.recargoMensajeria > 0">Mensajería: <span>S/ {{ cotizacion.recargoMensajeria | number:'1.2-2' }}</span></p>
    <p *ngIf="cotizacion.recargoEspera > 0">Espera: <span>S/ {{ cotizacion.recargoEspera | number:'1.2-2' }}</span></p>
    <h2 class="gran-total">Total a Cobrar: <span>S/ {{ cotizacion.total | number:'1.2-2' }}</span></h2>
  </div>
</div>